.vscode
.venv
Docker/authService/authService.egg-info
build
Docker/authService/.coverage
core.*
Docker/authService/.tox
Docker/authService/bandit_*
Docker/authService/coverage_*
Docker/authService/safety_*
Docker/authService/.pytest_cache
Docker/authService/pylint_report.json
Docker/authService/safety_report.json
Docker/authService/tests/__pycache__
